<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumir/Ofuscar URL's</title>
</head>

<body>
    <h1>URLS</h1>


    <table>
        <thead>
            <th>ID</th>
            <th>URL</th>
            <th>Destino</th>
            <th>Cliques</th>
            <th>Data de Criação</th>
        </thead>
        <tr>
            <td>1</td>
            <td>https://resumeurl.herokuapp.com/teste01</td>
            <td>http://google.com.br</td>
            <td>5</td>
            <td>19/06/2020 05:30h</td>
        </tr>
        <tr>
            <td>2</td>
            <td>https://resumeurl.herokuapp.com/teste02</td>
            <td>http://facebook.com.br</td>
            <td>3</td>
            <td>19/06/2020 05:30h</td>
        </tr>
    </table>
</body>

</html>