<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumir/Ofuscar URL's</title>
</head>

<body>
    <h1>URLS</h1>


    <table>
        <thead>
            <th>ID</th>
            <th>URL</th>
            <th>Destino</th>
            <th>Cliques</th>
            <th>Data de Criação</th>
        </thead>
        <tr for(item in data.itens)>
            <td>
                ${item.id}
            </td>
            <td>
                <a href="${item.shortUrl}" target="_blank">
                    ${item.shortUrl}
                </a>
            </td>
            <td>
                <a href="${item.destinyUrl}" target="_blank">
                    ${item.destinyUrl}
                </a>
            </td>
            <td>
                ${item.clickCounter}
            </td>
            <td>
                ${item.createDate}
            </td>
        </tr>
    </table>
</body>

</html>